/* 
    Document   : base
    Created on : 2013-10-7, 16:16:16
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
/* #Forms***/
.adminLogin .form-bg{
    width: 300px;
    margin: 150px auto auto auto;
    background: #ffffff;
    padding: 20px;
}


